* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color: rosybrown;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align:  center;
}

header {
    padding: 20px;
}

main {
    margin: 0 auto;
    width: 100%;
    min-width: 400px;
    text-align: center;
}

a {
    color: rosybrown;
}

.project_box {
    margin: 0 auto;
    width: 60%;
    background-color: ivory;
    border: 1px solid rosybrown;
    border-radius: 5px;
    padding: 10px;
    text-align:  center;
}

.project_box * {
    margin-bottom: 10px;
}

.project_title {
    display: block;
    /* background-color: brown; */
}

.skills_languages {
    display: block;
    /* background-color: brown; */
}

.details {
    max-width: 100%;
}

.screenshot img {
    max-width: 60%;
    border-radius: 5px;
    margin-bottom: 0;
    margin-top: 10px;
}


