* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    color: rosybrown;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align:  center;
}

header {
    padding: 0px;
    margin: 20px 0;
}

main {
    margin: 0 auto;
    width: 100%;
    min-width: 400px;
    min-height: 1000px;
    text-align: center;
}

a {
    color: rosybrown;
    text-decoration: none;
}

.box {
    margin: 0 auto;
    width: 60%;
    background-color: ivory;
    border: 1px solid rosybrown;
    border-radius: 5px;
    padding: 10px;
    text-align:  center;
    box-shadow: 2px 2px;
}

.box:hover {
    box-shadow: 4px 4px;
}

#top_box {
    text-align: left;
    padding: 20px;
    font-weight: bold;
    display: inline-block;
}

#top_box p {
    display: inline;
}

.right {
    float: right;
}

.box * {
    margin-bottom: 10px;
}

.project_title {
    display: block;
    /* background-color: brown; */
}

.skills_languages {
    display: block;
    /* background-color: brown; */
}

.details {
    max-width: 100%;
}

.screenshot img {
    max-width: 60%;
    border-radius: 5px;
    margin-bottom: 0;
    margin-top: 10px;
}


